<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Panel</title>
    <!--    Common Css-->
    <div th:replace="~{admin/admin-common :: common(~{::link})}"></div>
</head>
<body>
        <div th:replace="~{admin/components/menu :: menu}"></div>
    <section id="interface">
        <div th:replace="~{admin/components/navigation :: navigation}"></div>
        <div th:replace="~{admin/components/home :: home}"></div>
    </section>

<!--Common Js-->
<div th:replace="~{admin/admin-common :: common_js(~{::script})}"></div>
</body>
</html>
