<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- Portfolio Section Start  -->
<section id="portfolio" class="portfolio section-padding" th:fragment="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Our Projects</h2>
                    <p>Lorem ipsum, dolor sit amet mdfle<br> consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-4 portfolio" th:each="project : ${projects}">
                <div class="card  text-center bg-white pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img th:src="|data:image/jpeg;base64,${project.image}|" alt="" class="img-fluid">
                        </div>
                        <h3 class="card-title" th:text="${project.projectTitle}"></h3>
                        <p class="lead" th:text="${project.projectDesc}">
                        </p>
                        <button class="btn bg-warning text-dark">Learn More</button>
                    </div>
                </div>
            </div>
<!--            <div class="col-12 col-md-12 col-lg-4">-->
<!--                <div class="card  text-center bg-white pb-2">-->
<!--                    <div class="card-body text-dark">-->
<!--                        <div class="img-area mb-4">-->
<!--                            <img src="img/project-2.jpg" alt="" class="img-fluid">-->
<!--                        </div>-->
<!--                        <h3 class="card-title">Buliding Make</h3>-->
<!--                        <p class="lead">-->
<!--                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quam optio magnam voluptatum non blanditiis unde qui dignissimos quas dicta? Ipsum rem facere reprehenderit fuga!-->
<!--                        </p>-->
<!--                        <button class="btn bg-warning text-dark">Learn More</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-12 col-md-12 col-lg-4">-->
<!--                <div class="card  text-center bg-white pb-2">-->
<!--                    <div class="card-body text-dark">-->
<!--                        <div class="img-area mb-4">-->
<!--                            <img src="img/project-3.jpg" alt="" class="img-fluid">-->
<!--                        </div>-->
<!--                        <h3 class="card-title">Buliding Make</h3>-->
<!--                        <p class="lead">-->
<!--                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quam optio magnam voluptatum non blanditiis unde qui dignissimos quas dicta? Ipsum rem facere reprehenderit fuga!-->
<!--                        </p>-->
<!--                        <button class="btn bg-warning text-dark">Learn More</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>
</body>
</html>
