<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- Team Section Start  -->
<section id="team" class="team section-padding" th:fragment="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Our Team</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Aperiam, odio.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="img/team-1.jpg" class="img-fluid rounded-circle" alt="">
                        <h3 class="card-title py-2">Amit Kumar</h3>
                        <p class="card-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, architecto?
                        </p>

                        <p class="socials">
                            <i class="fa-brands fa-x-twitter text-dark mx-1"></i>
                            <i class="fa-brands fa-facebook text-dark mx-1"></i>
                            <i class="fa-brands fa-linkedin text-dark mx-1"></i>
                            <i class="fa-brands fa-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="img/team-2.jpg" class="img-fluid rounded-circle" alt="">
                        <h3 class="card-title py-2">Sanjiv Varma</h3>
                        <p class="card-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, architecto?
                        </p>

                        <p class="socials">
                            <i class="fa-brands fa-x-twitter text-dark mx-1"></i>
                            <i class="fa-brands fa-facebook text-dark mx-1"></i>
                            <i class="fa-brands fa-linkedin text-dark mx-1"></i>
                            <i class="fa-brands fa-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="img/team-3.jpg" class="img-fluid rounded-circle" alt="">
                        <h3 class="card-title py-2">Nisha Reddy</h3>
                        <p class="card-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, architecto?
                        </p>

                        <p class="socials">
                            <i class="fa-brands fa-x-twitter text-dark mx-1"></i>
                            <i class="fa-brands fa-facebook text-dark mx-1"></i>
                            <i class="fa-brands fa-linkedin text-dark mx-1"></i>
                            <i class="fa-brands fa-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="img/team-4.jpg" class="img-fluid rounded-circle" alt="">
                        <h3 class="card-title py-2">Radha Shrivastav</h3>
                        <p class="card-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, architecto?
                        </p>

                        <p class="socials">
                            <i class="fa-brands fa-x-twitter text-dark mx-1"></i>
                            <i class="fa-brands fa-facebook text-dark mx-1"></i>
                            <i class="fa-brands fa-linkedin text-dark mx-1"></i>
                            <i class="fa-brands fa-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
