<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:fragment="home">
        <h3 class="i-name">Dashboard</h3>
        <div class="values">
            <div class="val-box">
                <i class="fa-solid fa-users"></i>
                <div>
                    <h3>54</h3>
                    <span>New Customer</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-cart-shopping"></i>
                <div>
                    <h3>26</h3>
                    <span>Total Order</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-tarp"></i>
                <div>
                    <h3>10</h3>
                    <span>Projects</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-dollar-sign"></i>
                <div>
                    <h3>$4500</h3>
                    <span>This Month</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
