<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navigation</title>
</head>
<body>
<div class="navigation" th:fragment="navigation">
    <div class="n1">
        <div>
            <i id="menu-btn" class="fa-solid fa-bars"></i>
        </div>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search" />
        </div>
    </div>
    <div class="profile">
        <i class="fa-regular fa-bell"></i>
        <img src="/images/team1.webp" alt="" />
    </div>
</div>
</body>
</html>
